@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.todoItem{
    display: inline-block;
    width: 370px;
    height: 60px;
    border: 1px solid grey;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    background-color: #DFDFDF;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}

.todoItem_active, .todoItem:hover{
    background: #DAF0E6
}

.completed{
    text-decoration: line-through;
}

.description{
    color: #868383;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    overflow: hidden;
}